.wrap {
   display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px;

@media (max-width:385px) {
   display: flex;
   flex-direction: column;}
 
   
}




.images {
   display: grid;
   grid-template-columns: 1fr 3fr;
   gap: 15px;

   @media (max-width:385px) {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   @media (max-width:385px) {
      display: flex;
      flex-direction: row-reverse;
   }

   div {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }
   img {
      width: 100%;
      height: 100%;
      border-radius: 28px;
      object-fit: cover;
   }
}

.box {
   display: flex;
   flex-direction: column;

   > div {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid lightgray;

      display: flex;
      flex-direction: column;
      gap: 15px;

      &:nth-child(1) {
         h2 {
            font-size: 40px;
            text-transform: uppercase;
            font-family: 400px;
         }
         h3 {
            font-size: 28px;

         }
         .price {
            display: flex;
            gap: 12px;
            font-size: 30px;
         }
         .p {
            font-size: 16px;
            opacity: 0.6;
            line-height: 1.4;
         }
      }

      &:nth-child(2) {
         .colors {
            display: flex;
            gap: 16px;

            div {
               width: 37px;
               height: 37px;
               border-radius: 50%;
               background-color: gray;

               &:nth-child(1) {
                  background-color: #464632;
               }
               &:nth-child(2) {
                  background-color: #314F4A;
               }
               &:nth-child(3) {
                  background-color: #31344F;
               }
            }
         }
      }
      &:nth-child(3) {
         button {
            padding: 12px 24px;
            border-radius: 30px;
            background-color: #f0f0f0;
            border: none;
           transition: 0.3s;
           cursor: pointer;

           &:focus {
            background-color: black;
            color: white;
           }
         }
      }
   }
}
.comments {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-top: 20px;
   
   .comment1 {
      border: 2px solid #f0f0f0;
      padding: 10px;
      border-radius: 20px;
      
      @media (max-width:580px) {
         p {
            width: 310px;
         }
      }
   }
   p {
      width: 522px;
   }
}
.wrapper {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin-top: 20px;

   @media (max-width:519px) {
      display: flex;
      flex-direction: column;
   }
}
.h {
   display: flex;
   justify-content: center;
   text-transform: uppercase;
  font-family: "Candal", sans-serif;
}
.content {
   display: flex;
   justify-content: space-between;
 
   
   
}
.c {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   border-radius: 62px;
}
button {
   background-color: #f0f0f0;
   border: none;
   display: flex;
   padding: 13px 20px;
   border-radius: 62px;
   cursor: pointer;
}
.b {
   background-color: black;
   color: white;
   

}

.sud1 {
   display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: black;
 border-radius: 20px;
 padding: 30px;

 @media (max-width:565px) {
   flex-direction: column;
   text-align: center;
   
 }
   
   h1 {
      font-size: 40px;
      width: 551px;
      color: white;

      @media (max-width:565px) {
         width: 297px;
         font-size: 32px;
      }
   }
   input {
      padding: 12px 75px 12px 75px;
      
      border-radius: 20px;
      border: none;
   }
   button {
      margin-top: 5px;
      padding: 12px 88px 12px 88px;

   }
}
.footer {
  background-color: #f0f0f0;

  
}
.con {
   display: flex;
   gap: 20px;
   padding-top: 50px;
   justify-content: space-between;
   margin-bottom: 50px;

   @media (max-width:700px) {
      flex-direction: column;
      
   }
}
.content1 {
   
   p {
      width: 248px;
      margin-top: 20px;
      margin-bottom: 35px;
      color: #00000099;
   }
   img {
      margin-top: 20px;
      margin-right: 10px;
      
   }
}
.end {
   display: flex;
   gap: 110px;

   @media (max-width:1020px) {
      display: grid;
      grid-template-columns:repeat(2,1fr);
   }
   p {
      color: #00000099;
   }

   .end1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
}
.card {
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   p {
      color: #00000099;
   }
}
